*{
	margin:0;
	padding:0;
	box-sizing:border-box;
}
           /*---------main container*-----------------*/
.container{
	  width:1170px;
	  margin:0 auto;
	  padding-left:15px;
	  padding-right:15px;
}
.row{
	display:flex;
	flex-wrap:wrap;
	margin-left:-15px;
	margin-right:-15px;
}
.col-lg-1{
	     width:8.33%;
		 padding:0 15px;
}
.col-lg-2{
	     width:16.66%;
		 padding:0 15px;
}
.col-lg-3{
	     width:25%;
		 padding:0 15px;
}
.col-lg-4{
	     width:33.33%;
		 padding:0 15px;
}
.col-lg-5{
	     width:41.66%;
		 padding:0 15px;
}
.col-lg-6{
	     width:50%;
		 padding:0 15px;
}
.col-lg-7{
	     width:58.33%;
		 padding:15px;
}
.col-lg-8{
	     width:66.66%;
		 padding:0 15px;
}
.col-lg-9{
	     width:75%;
		 padding:0 15px;
}
.col-lg-10{
	     width:83.33%;
		 padding:0 15px;
}
.col-lg-11{
	     width:91.66%;
		 padding:0 15px;
}
.col-lg-12{
	     width:100%;
		 padding:0 15px;
}
/*----------flex style-----------------*/
.align-items-center{
	  align-items:center !important
}
.align-items-start{
	  align-items:flex-start !important
}
.align-items-end{
	  align-items:flex-end !important
}
.align-items-baseline{
	  align-items:baseline !important
}
.align-items-stretch{
	  align-items:stretch !important
}
/*--------------Button style------------------*/
.btns{
	  display:inline-block;
	  text-decoration:none;
	  background-color:#e03a3c;
	  font-size:20px;
	  padding:8px 25px;
	  text-align:center;
	  border-radius:5px;
	  transition: 0.5s;
	  border: solid 2px #e03a3c;
	  
}
.btns-2{
	  display:inline-block;
	  text-decoration:none;
	  text-align:center;
	  border-radius:30px;
	  border:2px solid #e03a3c;
	  padding:8px 25px;
}


.head{
	   background:#f5f5f5;
	   padding-top:20px;
	   padding-bottom:20px;
}
.logo a{
	 display:inline-block;
	 text-decoration:none;
	 color:#000;
	 font-size:30px;
	 font-weight: 600;
     font-family: "Poppins", sans-serif;
	   
}
.logo span{
	color:red;
	border-radius:15px;
}
.nav .nav-bar > li{
	  display:inline-block;
	  
}
.nav > .nav-bar{
	  text-align:right;
}
.nav-bar > li a.nav-list{
	  display:block;
	  text-decoration:none;
	  color:#000;
	  font-size:14px;
	  padding-left:13px;
	  padding-right:13px;
	  padding-bottom:10px;
	  padding-top:10px;
      transition:all 0.3s ease;	
	  font-family: "Raleway", sans-serif;
         
}
.nav-bar li a.home{
	color:red;
}
.nav-bar > li a.nav-list:hover{
	color:red;
}
.nav-btn{
	 color:white;
	 font-size:14px;
	 transition: 0.5s;
}
.dropdown{
	   position:relative;
}
.dropdown-list{
	  position:absolute;
	  top:35px;
      left:0px;
      width:168px;
	  text-decoration:none;
	  background-color:#fff;
	  border-radius:2px;
	  text-align:left;
	  transform:translateY(18px);
	  visibility:hidden;
	  opacity:0;
	  transition:all 0.3s;
}
.dropdown:hover .dropdown-list{
	  transform:translateY(0);
	  visibility:visible;
	  opacity:1;
}
.dropdown-list:hover{
	 color:red;
}
.dropdown-list li{
	  display:block;
}
.dropdown-list li a{
	  color:#000;
	  font-size:14px;
	  display:block;
	  text-decoration:none;
	  padding-top:8px;
	  padding-bottom:8px;
	  padding-right:15px;
	  padding-left:15px;
}
.dropdown a i{
	  font-size:10px;
	  margin-left:5px;
}
.dropdown-list a i{
	  font-size:13px;
	  margin-left:25px;
}
.deepdropdown{
	  position:relative;
}
.deep-list{
	  position:absolute;
	  top:5px;
      left:100%;
      width:168px;
	  text-decoration:none;
	  background-color:#fff;
	  border-radius:2px;
	  text-align:left;
	  transform:translateX(18px);
	  visibility:hidden;
	  opacity:0;
	  transition:all 0.3s;
}
.deepdropdown:hover .deep-list{
	  transform:translateX(0);
	  visibility:visible;
	  opacity:1;
}
.dropdown-list li a:hover{
	   color:red;
}
.deep-list li a:hover{
	  color:red;
}
.nav-btn:hover{
	background-color:black;
}




.banner{
	  background-image:linear-gradient( rgba(0,0,0,0.60), rgba(0,0,0,0.60)),url(../image/banner.jpg);
	  min-height:650px;
	  background-repeat:no-repeat;
	  background-size:cover;
	  padding-top:129px;
	  
}
.pics{
	   padding-top:80px;
	   padding-bottom:80px;	 
	   padding-left:30px;
}
.content h1{
	   font-size: 46px;
       font-weight:700;
	   color:#fff;
	   font-family: "Raleway", sans-serif;
}
.content h2{
	   font-size:25px;
	   color:#fff;
	   font-weight:500;
	   font-family: "Raleway", sans-serif;
	   margin-top:15px;
}
.content a{
	   margin-top:18px;
}
.con-btn{
	   color:white;
	   padding: 12px 30px;
       font-size: 20px;
}
.con-btn:hover{
	    border:2px solid white;
		background-color:transparent;
}
	   

.clients{
	    padding-top:70px;
		padding-bottom:70px;
}
.cl-logo {
	    width: 100%;
        filter: grayscale(100%);
        opacity: 0.5;
        transition: all 0.3s ease;
	 
}
.cl-logo:hover{
	    filter:grayscale(0%);
	    opacity:3;
}
	   



.main-banner{
	   padding-top:70px;
	   padding-bottom:70px;
	 
}
.rol-shape{  
       position:relative;
	   z-index:1;
	   padding-top:100px;
	   padding-bottom:100px;
}
.rol-shape:after{
	   content: "";
	   position:absolute;
	   top:0;
	   left:0;
	   width:100%;
       height:100%;
	   background-color:#1b1b1b;
	   z-index:-1;
	   transform:skewY(-3deg);
	  	   
}
.first h2{
	   font-size:38px;
	   color:#fff;
	   font-weight:600;
	   font-family: "Raleway", sans-serif;
	   margin:20px 0;
}
.first p{
	   font-size:16px;
	   color:#fff;
	   font-family: "Raleway", sans-serif;
	   margin:35px 0;
} 
.first  span{
	   font-size:15px;
	   text-transform:uppercase;
	   color:#fff;
	   font-weight:700;
	   font-family: "Raleway", sans-serif;
}
.abt-btns:hover{
	   background-color:#e03a3c;
}
.abt-btns i{
	   color:#fff;
	   margin-right:10px;
	   margin-left: 5px;
	   align-items:center;
}
	   
	

.
.para{
	   width:100%;
	   margin:10px 0;
	   font-family: "Raleway", sans-serif;
          
}
.para i{
	   color:#e03a3c;
	   font-size:40px;
	   margin-bottom:20px;
	   
}
.para h2{
	   color:#fff;
	   font-size:20px;
	   margin-top:10px;
	   margin-bottom:10px;
	   font-family: "Raleway", sans-serif;
}
.para p{
	   color:#848484;
	   font-size:15px;
	   margin-bottom:10px;
}




.number{
	 padding-top:0px;
	 padding-bottom:70px;
}
.list{
	  position:relative;
	  box-shadow:0px -7px 73px rgb(0 0 0 / 0.06);
	  border-radius:4px;
	  text-align:center;
	  padding:48px 0px;
	  background:white;
}
.list h2{
	    font-size:40px;
	    font-family: "Raleway", sans-serif;

}
.list p{
	   font-size:17px;
	   margin-top:10px;
	   font-family: "Raleway", sans-serif;
}
.list i{
	  position:absolute;
	  left:111px;
	  top:-19px;
	  bottom:0;
	  font-size:27px;
	  display:inline-block;
	  height:50px;
	  width:50px;
	  box-shadow:0 0 10px #d3d3d378;
	  border:7px solid white;
	  border-radius:50%;
	  color:red;
	  background-color:white;
	  align-items:center;
	  line-height:35px;
}
	
	

.content-section{
	 padding-top:70px;
	 padding-bottom:70px;
     background-color:#fff;
	 height:700px;
}
.icon-content{
      width:100%;
	  height:100%;
	  position:relative;
	  border:1px solid black;
	  padding-top:34px;
	  padding-bottom:25px;
	  padding-left:55px;
      align-items:center;	
}
.icon-content h3{
	  font-size:18px;
	  margin-left:10px;
	  margin-top: -9px;
	  font-family: 'Open Sans', sans-serif;
      	
}
.icon-content i{
	   position:absolute;
	   top:30px;
       left:3px;
	   font-size:40px;
	   margin-left:10px;
	   
}
.icon-3:hover{
	   color:red;
}
	   
.active{
	  background-color:#e03a3c;
	  color:white;
}
.para-content{
	  font-family: 'Open Sans', sans-serif;
	  margin-top:20px;
}
.para-content ul{
	     list-Style:none;
}
.para-content ul li{
	     padding-bottom:10px;
		 font-size:16px;
		 
}

.para-content h3{
	   font-size:22px;
	   color:#444;
}
.para-content p{
	  margin-top:20px;
	  font-size:16px;
}
.italic{
	   font-style:italic;
	   padding-bottom:10px;
}
.para-content i{
	   margin-right:10px;
	   color:red;
}
.para-content-2{
	    margin-top:20px;
}



.service{
	 padding-top:70px;
	 padding-bottom:70px;
	 font-family: "Raleway", sans-serif;
} 
.service:after{
	   content: "";
	   transform:skewY(-2deg);
}
.letter{
	 color:white;
	 text-transform:uppercase;
	 font-size:24px;
	 text-align:center;
	 margin-bottom:10px;
	 font-family: "Raleway", sans-serif;
}
.line{
	  border:1px solid red;
	  width:55px;
	  height:4px;
	  margin:0 auto;
	  background-color:red;
}
.port-para{
	  font-size:14px;
	  text-align:center;
	  margin-bottom:10px;
	  color:#fff;
	  margin-top:15px;
	  margin-left:5px;
	  margin-right:5px;
	  font-family: 'Open Sans', sans-serif;
}
.icon-msg{
	    width:100%;
	    margin-bottom:15px;
		margin-top:15px;
		padding:25px;
	    border:2px solid #252525;
		background-color:#252525;
	    font-family: "Raleway", sans-serif;
}
.icon-msg i{
	     color:#e03a3c;
		 float:left;
		 font-size:40px;
}
.icon-msg a{
	      font-size:20px;
		  text-decoration:none;
		  color:#fff;
		
}
.icon-msg h4{
	      margin-left:65px;
		  margin-bottom:15px;
}
.icon-msg p{
	      font-size:14px;
		  font-weight:normal;
		  color:#fff;
		  margin-left:65px;
		  line-height:1.5;
}

.portfolio{
	 padding-top:70px;
	 padding-bottom:70px;
     background-color:#fff;
	 height:auto;
}
.port-content{
	 font-size:20px;
	 color:#444;
}
.alt-para{
	 color:#444;
}
.app{
	 text-align:center;
	 margin-top:20px;
	 margin-bottom:10px;
}
.app a{
	 height:30px;
	 width:25%;
	 padding-left:10px;
	 padding-right:10px;
	 padding-top:8px;
	 padding-bottom:8px;
	 margin:0 auto;
	 text-align:center;
	 text-decoration:none;
	 text-transform:uppercase;
	 font-size:16px;
	 color:#444;
}
.app-nav:hover{
      border:1px;
	  background-color:#e03a3c;
	  border-radius:5px;
	  color:#fff;	 
} 
.app-active{
	  background-color:#e03a3c;
	  color:#fff;
	  border-radius:5px;
}
.port-picture img{
	 display:block;
     width:100%;
	 height:auto;
	 transition:all .5s ease;                                                    
}
.port-picture{
	  position:relative;
	  overflow:hidden;
	  margin-bottom:20px;
	  margin-top:20px;
}
.port-overlay{
	  position:absolute;
	  top:0;
	  left:0;
	  width:100%;
	  height:100%;
	  display:flex;
	  align-items:flex-end;
	  background-color:rgb(0 0 0 / 40%);
	  opacity:0;
	  transition:all 0.3s ease;
}
.port-ovr-text{
	  padding-left:20px;
	  padding-bottom:30px;
}
.port-ovr-text h4{
	  color:#fff;
	  margin-bottom:10px;
	  font-size:20px;
	  font-weight:600;
	  font-family: 'Open Sans', sans-serif;
}
.port-ovr-text h5{
	  font-style:italic;
	  color:hsl(0deg 0% 100% / 70%);
	  margin-bottom:10px;
	  font-size:14px;
	  text-transform:uppercase;
	  font-family: 'Open Sans', sans-serif;
}
.port-ovr-text a{
	  display:inline-block;
	  text-decoration:none;
	  font-size:18px;
	  color:#ccc;
	  margin-right:15px;
	  font-family: 'Open Sans', sans-serif;
	  transition:all 0.3s ease;
	  
}
.port-ovr-text a:hover {
	   color:#fff;
}
.port-overlay:hover{
	  opacity:1;
}

.port-picture:hover img{
	  transform:scale(1.2);
}
	
	  

.testimonials{
	 padding-top:70px;
	 padding-bottom:150px;
}
.testi-com{
	     font-family: 'Open Sans', sans-serif;
		 border-radius:5px;
		 background-color:#fff;
		 padding:26px;
		 box-shadow:0px 5px 15px rgb(0 0 0 / 8%);
}
	    
.testmon{
		font-size:20px;
		color:#444;
		
}
.test-para{
	     font-size:14px;
		 color:#444;
	 
}
.testi-pics{
	   overflow:hidden;
}
	   
.testi-pics img{
	     float:left;
		 border-radius:6px;
		 margin-right:15px;
		 margin-bottom:10px;
		 margin-top:10px;
}
.testi-pics h3{
	    font-size:20px;
		font-weight:bold;
		color:#111;
		margin-top:31px;
}
.testi-pics h4{
	    font-size:14px;
		color:#999;
		line-height:1.6;
}
.testi-para{
	    margin-top:20px;
		margin-bottom:20px;
		margin-left:10px;
}
.testi-para i{
	    color:#fceaea;
		font-size:24px;
}
.design{
	    margin-right:10px;
		margin-bottom:5px;
} 
.design-2{
	    margin-left:5px;
		margin-top:5px;
}    
.testi-para p{
	     font-style:italic;
		 font-size:16px;
		 font-weight:400;
		 color:#444;
		 line-height:1.5;
}
.pricing{
	 padding-top:80px;
	 padding-bottom:80px;
}
.pricing:after{
	   content: "";
	   transform:skewY(-2deg);
}
.pricing-txt{
	margin:15px;

}
.pricing-txt h3{
	 color:#fff;
	 font-size:18px;
	 text-align:center;
	 text-transform:Uppercase;
}
.pricing-txt h4{
	  color:#fff;
	  text-align:center;
	  padding-top:15px;
	  padding-bottom:15px;
}
.pricing-txt ul{
	   color:#fff;
	   list-Style:none;
	   text-align:center;
}
.pricing a{
	   color:#fff;
	   text-decoration:none;
	   text-transform:capitalize;
	   
}
.pric-buy{
	   text-align:center;
}


.frequently{
	 padding-top:70px;
	 padding-bottom:70px;

}
.freq{
	 background:red;
	 height:80px;
}
.question{
	background:red;
	height:400px;
	margin:15px;
}


.team{
	 padding-top:70px;
	 padding-bottom:70px;
     background-color:grey;
	 height:600px;
}
.teamates{
	 background:red;
	 height:80px;
}
.image{
	background:red;
	height:400px;
	margin:15px;
}



.contact{
	 padding-top:70px;
	 padding-bottom:70px;
     background-color:black;
	 height:600px;
}
.cont-msg{
	 background:red;
	 height:80px;
}
.address{
	 background:red;
	 height:170px;
	 margin:15px;
}
.email{
	 background:red;
	 height:140px;
	 margin:15px;
}
.call{
	 background:red;
	 height:140px;
	 margin:15px;
}
.forms{
	background:red;
	height:360px;
	margin:15px;
}

.menu{
	 padding-top:70px;
	 padding-bottom:70px;
     background-color:grey;
	 height:400px;
}
.menubar{
	 background:red;
	 height:270px;
}

.copyrights{
	 padding-top:70px;
	 padding-bottom:70px;
	 background:black;
	 height:200px;
}
.all-rights{
	 background:red;
	 height:60px;
}
	 
	
	
	
